* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: monospace;
  color: #ddd;
}

h1 {
  font-size:200%;
}

div#peripheral-controls {
  padding: 0 1em;
}

div#peripheral-controls > div {
  padding: 0 1em;
  margin: 2em 0;
}

div#peripheral-controls > div > label {
  display: block;
}

div$peripheral-controls > div > label > span.label-text {
  min-width: 5em;
}
